<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}

  {% block head %}

  {% block meta %}
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% endblock meta %}
  <title>Silhouette | {% block title %}{% endblock title %}</title>
      {% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'join/bootstrap4/css/bootstrap.min.css' %}">
    <link href="{% static 'custom/bh_compute/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'custom/bh_compute/css/main.css' %}" rel="stylesheet">
     {% endblock stylesheets %}
     {% endblock head %}
</head>
<body>
{% block body %}
<body id="top"><div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">Проект Силуэт</h3>
            {% block menu %}
	<nav class="nav nav-masthead">
        <ul class="nav-menu">
          <li><a href="{% url 'bh_compute:index' %}">Главная</a></li>
          <li><a href="{% url 'bh_compute:about' %}">О проекте</a></li>
          <li><a href="#">Рассчитать</a></li>
        </ul>
      </nav>
            {% endblock menu %}
        </div>
      </div><br>
         {% block content %}
        {% endblock content %}
         {% block footer %}
      <div class="mastfoot">
        <div class="inner">
          <p>&copy; Silhouette. Designed by Dmitry Potapov</p>
        </div>
      </div>
          {% endblock footer %}
        {% block javascripts %}
    <script type="text/javascript" src="{% static 'join/jquery-3.3.1.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'join/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'join/bootstrap4/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'custom/bh_compute/js/mn_scr.js' %}"></script>
        {% endblock javascripts %}
    {% endblock body %}
  </body>
</html>
