{% extends "base_site.html" %}
{% load static %}

{% block title %}О проекте{% endblock title %}
{% block content %}
        <div class="inner cover">
        <h1 class="cover-heading">О проекте</h1>
        <p class="lead cover-copy">Данный проект развивался при поддержке ФИАН.</p>
      </div>
        {% endblock content %}