{% extends "base_site.html" %}
{% load static %}

{% block title %}Главная{% endblock title %}
{% block content %}
        <div class="inner cover">
        <h1 class="cover-heading">Тени чёрных дыр</h1>
        <p class="lead cover-copy">Воспользуйтесь уникальной возможностью произвести математические рассчеты и увидеть силуэт чёрных дыр.</p>
        <p class="lead"><a href="#" role="button" class="btn btn-lg btn-default btn-notify">Рассчитать</a></p>
      </div>
        {% endblock content %}